trunk/Animator/src/anicore/Core/Model/AniDocument.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" id="AniDocument">
	<xs:simpleType name="Guid">
		<xs:restriction base="xs:string">
			<xs:pattern value="\{?[a-fA-F0-9]{8}-?[a-fA-F0-9]{4}-?[a-fA-F0-9]{4}-?[a-fA-F0-9]{4}-?[a-fA-F0-9]{12}\}?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DocumentItemType">
		<xs:attribute name="id" type="Guid" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:group name="AnyClipGroup">
		<xs:choice>
			<xs:any namespace="##other"/>
			<xs:element ref="clip"/>
			<xs:element ref="stepclip"/>
		</xs:choice>
	</xs:group>
	<xs:element name="params">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="param">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="key" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="paramKeyUnique">
			<xs:selector xpath="param"/>
			<xs:field xpath="@key"/>
		</xs:unique>
	</xs:element>
	<xs:element name="anidoc">
		<xs:annotation>
			<xs:documentation>Document root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DocumentItemType">
					<xs:sequence>
						<xs:element ref="transport" minOccurs="0"/>
						<xs:element name="outputs" minOccurs="0">
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:element ref="output"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="clips" minOccurs="0">
							<xs:complexType>
								<xs:group ref="AnyClipGroup" minOccurs="0" maxOccurs="unbounded"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="sequences" minOccurs="0">
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:element ref="sequence"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="sessions" minOccurs="0">
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:element ref="session"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="bpm">
						<xs:simpleType>
							<xs:restriction base="xs:float">
								<xs:minExclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="dur">
						<xs:simpleType>
							<xs:restriction base="xs:float">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ui-rows" type="xs:nonNegativeInteger"/>
					<xs:attribute name="ui-cols" type="xs:nonNegativeInteger"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="itemIdKey">
			<xs:selector xpath=".|outputs/output|outputs/output/target|clips/*|sequences/sequence|sequences/sequence/seqtrack|sequences/sequence/seqtrack/seqclipref|sessions/session|sessions/session/sestrack|sessions/session/sestrack/sesclipref"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:key name="outputIdKey">
			<xs:selector xpath="outputs/output"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:key name="clipIdKey">
			<xs:selector xpath="clips/*"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:keyref name="clipOutputIdKeyRef" refer="outputIdKey">
			<xs:selector xpath="clips/clip"/>
			<xs:field xpath="@output"/>
		</xs:keyref>
		<xs:keyref name="seqClipIdRef" refer="clipIdKey">
			<xs:selector xpath="sequences/sequence/seqtrack/seqclipref"/>
			<xs:field xpath="@clip-id"/>
		</xs:keyref>
		<xs:keyref name="sesClipIdRef" refer="clipIdKey">
			<xs:selector xpath="sessions/session/sestrack/sesclipref"/>
			<xs:field xpath="@clip-id"/>
		</xs:keyref>
		<xs:key name="outputTargetIdKey">
			<xs:selector xpath="outputs/output/target"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:keyref name="seqTrackTargetIdKeyRef" refer="outputTargetIdKey">
			<xs:selector xpath="sequences/sequence/seqtrack"/>
			<xs:field xpath="@target"/>
		</xs:keyref>
		<xs:keyref name="sesTrackTargetIdKeyRef" refer="outputTargetIdKey">
			<xs:selector xpath="sessions/session/sestrack"/>
			<xs:field xpath="@target"/>
		</xs:keyref>
	</xs:element>
	<xs:complexType name="OutputBaseType">
		<xs:complexContent>
			<xs:extension base="DocumentItemType">
				<xs:sequence>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="target"/>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="output" type="OutputBaseType"/>
	<xs:complexType name="ClipType">
		<xs:complexContent>
			<xs:extension base="DocumentItemType">
				<xs:attribute name="dur" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:float">
							<xs:minInclusive value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="target" type="xs:string"/>
				<xs:attribute name="output" type="Guid"/>
				<xs:attribute name="ui-row" type="xs:nonNegativeInteger"/>
				<xs:attribute name="ui-col" type="xs:nonNegativeInteger"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="clip">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ClipType">
					<xs:sequence minOccurs="0">
						<xs:any namespace="##other"/>
					</xs:sequence>
					<xs:anyAttribute namespace="##other"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stepclip">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ClipType">
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="step" type="xs:float"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="transport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="params" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="bpm">
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minExclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dur">
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minExclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ClipRefType">
		<xs:complexContent>
			<xs:extension base="DocumentItemType">
				<xs:attribute name="clip-id" type="Guid" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="clipref" type="ClipRefType"/>
	<xs:element name="target">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DocumentItemType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="prop">
							<xs:complexType>
								<xs:attribute name="name" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="type" type="TargetPropertyType" use="required"/>
								<xs:attribute name="default" type="xs:anySimpleType"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="key" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="prop-name-key">
			<xs:selector xpath="prop"/>
			<xs:field xpath="@name"/>
		</xs:key>
	</xs:element>
	<xs:simpleType name="TargetPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Value"/>
			<xs:enumeration value="String"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TrackBaseType">
		<xs:complexContent>
			<xs:extension base="DocumentItemType">
				<xs:attribute name="target" type="Guid"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="sequence">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DocumentItemType">
					<xs:sequence>
						<xs:element ref="seqtrack" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="dur" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:float">
								<xs:minExclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="seqclipref">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ClipRefType">
					<xs:attribute name="start" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:float">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="dur">
						<xs:simpleType>
							<xs:restriction base="xs:float">
								<xs:minExclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="seqtrack">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="TrackBaseType">
					<xs:sequence>
						<xs:element ref="seqclipref" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="session">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DocumentItemType">
					<xs:sequence>
						<xs:element ref="sestrack" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="rows" type="xs:nonNegativeInteger"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sesclipref">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ClipRefType">
					<xs:attribute name="row" type="xs:nonNegativeInteger"/>
					<xs:attribute name="active" type="xs:boolean"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sestrack">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="TrackBaseType">
					<xs:sequence>
						<xs:element ref="sesclipref" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="oscoutput" substitutionGroup="output">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OutputBaseType">
					<xs:attribute name="host" type="xs:string" use="required"/>
					<xs:attribute name="port" type="xs:nonNegativeInteger" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="traceoutput" substitutionGroup="output">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OutputBaseType">
					<xs:attribute name="category" type="xs:string"/>
					<xs:attribute name="prefix" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
